
{% extends 'base.html.twig' %}

{% block body %}
    <hr/>
    <h2 class="page-header">{{ category.type }}</h2>
    <ul class="list-group">
       
    </ul>
        <a href="{{ path('category_list') }}" class="btn btn-default">Back to Category List</a>
{% endblock %}

